<h1>Gossip N°<%= @gossip_id %></h1>
<p>
  Auteur: <%= @gossip.author %><br>
  Gossip: <%= @gossip.content %>
</p>

<a href="/gossips/<%= @gossip_id %>/edit">Éditer le potin</a>

<a href="/">Lien pour revenir à la page des potins</a>
