<h1>Page Potin</h1>
<p>Voici la page du potin n°<%= @gossip.id %></p>
<p>
  Son auteur : <%= @gossip.author %><br>
  Le contenu du potin : <%= @gossip.content %>
</p>

<a href="/gossips">Lien pour revenir à la page des potins</a>
